html {
  background-color: rgb(240, 239, 239);
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 40px auto;
  max-width: 1140px;
  display: flex;
  justify-content: center;
}

.post {
  margin-right: 40px;
}

#comments {
  width: 350px;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  border: 1px solid rgb(172, 172, 172);
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#—ÅommentBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.comment {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  word-wrap: break-word;
  word-break: break-all;
}

.comment div {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.comment img {
  width: 15px;
}

.authorComment {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.textComment {
  width: 100%;
  margin: 10px;
  padding-right: 20px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 100;
}
